/* Your CSS here. */
html {
    scroll-behavior: smooth;
}

.intro_page__container {
    display: block;
    margin: 0;
}

.navigation_bar {
    background-color: #D4D6D5;
    height: 80px;
    display: flex;
    position: sticky;
    top: 0px;
    align-items: center;
    z-index: 2;
    justify-content: space-between;
    padding: 0 16px;
}

.navigation_bar__logo {
    display: flex;
}

.navigation_bar__icon-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navigation_bar__icon {
    display: flex;
    text-align: center;
    height: 100%;
    width: auto;
    float: left;
}

.navigation_bar__hamburger_list {
    display: none;
    text-align: center;
    height: 100%;
    width: auto;
}

nav a {
    color: inherit;
    display: block;
    font-size: 1.2rem;
    padding: 10px;
    text-decoration: none;
}

nav a:hover {
    background-color: #D4D6D5;
    color: white;
}

.hero_section {
    background-image: url('../assets/hero_background.png');
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

.hero_text {
    text-align: center;
    color: black;
    padding-top: 220px;
}

.social_media_link {
    text-align: center;
    margin-top: 100px;
    padding-bottom: 140px;
}

.social_media_link__icon {
    text-align: center;
    font-size: 30px;
    color: black;
    margin-right: 30px;
}

.social_media_link__icon:last-child {
    text-align: center;
    font-size: 30px;
    color: black;
    margin-right: 0px;
}

.intro_section {
    background-color: #EEE9E3;
    text-align: center;
    padding: 80px 10%;
}

.intro_section__bio {
    text-align: left;
}

.skills_section {
    background-color: white;
    text-align: center;
    padding: 80px 10%;
}

.skills_section__skill-set {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skill_section__skill {
    width: 160px;
}

/*timeline*/
.work_experience_section {
    background-color: #EEE9E3;
    text-align: center;
    padding: 80px 10%;
}

.work_experience_section__timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.work_experience_section__timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.work_experience_section__container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}
  
/* The circles on the timeline */
.work_experience_section__container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #C5A586;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.work_experience_section__left {
    left: -80px;
}
  
/* Place the container to the right */
.work_experience_section__right {
    left: 50%;
}

.work_experience_section__left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}
  
/* Add arrows to the right container (pointing left) */
.work_experience_section__right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

.work_experience_section__right::after {
    left: -16px;
}

.work_experience_section__content {
    text-align: left;
    padding: 20px 30px;
    min-width: 300px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

.work_experience_section__position {
    text-align: left;
}

.contact_info_section {
    background-color: #D4D6D5;
    padding: 80px 10%;
    text-align: center;
}

.contact_info_section__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: row;
    justify-items: center;
}

.contact_info_section__selfie_frame {
    width: 360px;
    height: 270px;
    min-width: 200px;
    min-height: 150px;
    display: block;
    padding-right: 16px;
}

.contact_info_section__selfie {
    width: 100%;
    height: 100%;
}

.contact_info_section__contacts {
    width: 80%;
    flex-direction: column;
    padding-left: 16px;
}

.contact_info_section__links {
    font-size: 1.2rem;
    padding: 10px;
    text-decoration: none;
}

.contact_info_section__links:hover {
    color: blue;
    text-decoration: underline;
}

/*responsive design*/
@media screen and (max-width: 930px) {
    /* Place the timelime to the left */
    .work_experience_section__timeline::after {
        left: 0;
    }
    
    /* Full-width containers */
    .work_experience_section__container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }
    
    /* Make sure that all arrows are pointing leftwards */
    .work_experience_section__container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }
  
    /* Make sure all circles are at the same spot */
    .work_experience_section__left::after, .work_experience_section__right::after {
        left: 15px;
    }
    
    /* Make all right containers behave like the left ones */
    .work_experience_section__right {
        left: -31px;
    }

    .work_experience_section__left {
        left: -31px;
    }
}

@media screen and (max-width: 800px) {
    .contact_info_section {
        background-color: #D4D6D5;
        padding: 50px 10%;
        text-align: center;
    }

    .contact_info_section__wrapper {
        display: block;
        justify-items: center;
        text-align: center;
    }

    .contact_info_section__selfie_frame {
        width: 360px;
        height: 270px;
        min-width: 200px;
        min-height: 150px;
        margin: 0 auto;
        padding-right: 0px;
    }

    .contact_info_section__selfie {
        width: 100%;
        height: 100%;
    }

    .contact_info_section__contacts {
        width: 100%;
        flex-direction: column;
        padding-left: 0px;
    }

    .contact_info_section__links {
        font-size: 1.2rem;
        padding: 10px;
        text-decoration: none;
    }

    .contact_info_section__links:hover {
        color: blue;
        text-decoration: underline;
    }
}

@media screen and (max-width: 700px) {
    .navigation_bar__logo {
        display: flex;
        padding: 30.5px 10px;
    }

    .navigation_bar {
        background-color: #D4D6D5;
        height: auto;
        width: auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    .navigation_bar__icon-list {
        display: none;
        flex-direction: column;
        align-items: center;
        height: auto;
        list-style: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        margin-top: 60px;
    }
    
    .navigation_bar__icon {
        display: flex;
        text-align: center;
        height: 100%;
        width: 100%;
        float: left;
    }
    
    nav a {
        color: inherit;
        display: block;
        font-size: 1.2rem;
        padding: 10px;
        text-decoration: none;
    }
    
    nav a:hover {
        background-color: #D4D6D5;
        color: white;
    }

    .navigation_bar__hamburger_list {
        display: block;
        text-align: right;
        height: 100%;
        width: auto;
        padding: 30.5px 10px;
    }
}

@media screen and (max-width: 500px) {
    /* Place the timelime to the left */
    .work_experience_section__timeline::after {
        left: -15px;
    }
    
    .work_experience_section__content {
        min-width: 0px;
    }
    
    /* Make all right containers behave like the left ones */
    .work_experience_section__right {
        left: -46px;
    }

    .work_experience_section__left {
        left: -46px;
    }
}

@media screen and (max-width: 500px) {
    .intro_section__bio {
        font-size: 14px;
    }

    .contact_info_section__selfie_frame {
        width: 280px;
        height: 210px;
        min-width: 200px;
        min-height: 150px;
        margin: 0 auto;
        padding-right: 0px;
    }
}